.jumbotron {
  text-align: center;
  background-image: url(http://www.iwantwallpaper.co.uk/images/p-s-international-p-s-international-tropical-exotic-birds-trees-leaves-wallpaper-05550-10-p1179-1768_zoom.jpg);
  color: white;
}

body {
  padding: 30px;
  font-size: 20px;
}

.australia, .switzerland, .florida {
  display: none;
}
