.jumbotron {
  text-align: center;
  background-image:    url(http://www.iwantwallpaper.co.uk/images/p-s-international-p-s-international-tropical-exotic-birds-trees-leaves-wallpaper-05550-10-p1179-1768_zoom.jpg);
  color: #F2CEF5;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  padding: 30px;
  font-size: 20px;
}
.australia, .switzerland, .florida {
  display: none;
}


img {
  display: block;
  width: 900px;
  margin: 0 auto;
}
